<!DOCTYPE html>

<head>
    <title>{% block title %}my-QCM Project | Home{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut" href="{{ asset('images/favicon.ico') }}"/>
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style-public.css') }}"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}/"></script>
        <script type="text/javascript" src="{{ asset('js/ie.js') }}"></script>
    {% endblock %}
</head>

<body class="background-1 h-style-1 text-1 skin-1">
<div id="wrapper">
    <header class="clearfix">
        <nav id="navigation" class="navigation">
            <ul>
                <li><a href="#">QCM in database:</a></li>
            </ul>

            <div class="account-wrapper">
                <ul id="user-account-nav">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Create an account</a></li>
                </ul>
            </div>
        </nav>
        <div id="logo">
            <a href="#"><h1>My </h1><span>QCM tools</span></a>
            <div class="slogan">The qcm checker</div>
        </div>
    </header>


    <div class="container">
        <nav id="platform-menu" class="platform-menu">

            <a href="#" class="home">Home</a>

            <ul>
                <li><a href="#">Descriptions</a>
                </li>
                <li><a href="#">Pricing</a>
                </li>
                <li><a href="#">QCM</a>
                    <ul class="sub-menu">
                        <li><a href="#">Subject A</a></li>
                        <li><a href="#">Subject B</a></li>

                    </ul>
                </li>
                <li><a href="#">FAQ</a>
                </li>
                <li><a href="#">Contact</a>
                </li>
            </ul>

        </nav>

        <div class="entry sbr clearfix">
            <div id="content">
                {% block body %}
                    <!-- ************** - Content - ************** -->
                {% endblock %}

                {% block javascripts %}
                {% endblock %}
            </div>
        </div>

        <!-- ********************* - Footer - ********************* -->
        <footer id="footer" class="clearfix">

            <section class="entry-footer clearfix">

                <div class="one-fourth">
                    <h3>Latest Info</h3>
                    <div id="jstwitter"></div>
                    <div class="more text-align-right"><a href="#">See all <span>&raquo;</span></a></div>
                </div>
                <!--/ .one-fourth-->

                <div class="one-fourth">
                    <h3>Photos</h3>
                    <ul id="flickr-badge" class="clearfix"></ul>
                    <div class="more text-align-left"><a href="#">View more photos <span>&raquo;</span></a></div>
                </div>
                <!--/ .one-fourth-->

                <div class="one-fourth">
                    <h3>About Us</h3>
                    <div class="text">
                        <p>
                            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat.
                        </p>
                        <div class="more text-align-left"><a href="">Read more <span>&raquo;</span></a></div>
                    </div>
                    <!--/ .text-->
                </div>
                <!--/ .one-fourth-->

                <div class="one-fourth last">
                    <div id="tabs-footer">

                        <ul class="tabs-nav clearfix">
                            <li><a href="#tab8">Archives</a></li>
                            <li><a href="#tab9">Categories</a></li>
                        </ul>
                        <!--/ .tabs-nav -->

                        <div class="tabs-container">
                            <div class="tab-content" id="tab8">
                                <ul class="custom-formatting">
                                    <li><a href="#">January 2018</a></li>
                                    <li><a href="#">February 2018</a></li>

                                </ul>
                            </div>
                            <!--/ #tab8-->
                            <div class="tab-content" id="tab9">
                                <ul class="custom-formatting">
                                    <li><a href="#">Sed do eiusmod tempor</a></li>
                                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                    <li><a href="#">Ut labore et dolore magna</a></li>
                                    <li><a href="#">Duis aute irure dolor in reprehen</a></li>
                                    <li><a href="#">Set i dolor psum dolor sit amet</a></li>
                                    <li><a href="#">Qui officia deserunt mollit anim</a></li>
                                    <li><a href="#">Deserunt mollit anim id laborum</a></li>
                                </ul>
                            </div>
                            <!--/ #tab9-->
                        </div>
                        <!--/ .tabs-container-->

                    </div>
                    <!--/ .tabs-footer-->
                </div>
                <!--/ .one-fourth.last-->

            </section>
            <!--/ .entry-footer-->

            <div class="copyright">
                Copyright © 2018. Pierre-emmanuel Laporte. All rights reserved
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.16.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.mousewheel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/general.js') }}"></script>
</body>

</html>
